@media only screen and (max-width: 1029px) {
  .main {
    left: 6.55%;
  }
  .aside {
    left: 23px;
  }
}

@media only screen and (max-width: 978px) {
  .main {
    left: 3.55%;
  }
  .bell {
    padding-left: 280px;
  }
  .aside {
    left: 33px;
  }
}

@media only screen and (max-width: 912px) {
  .main {
    left: 3.55%;
  }
  .bell {
    padding-left: 166px;
  }

  .height-200 {
    height: 153px;
  }
  .aside {
    left: 48px;
  }
}

@media only screen and (max-width: 820px) {
  .bell {
    padding-left: 208px;
  }
  .main {
    left: 16px;
  }
  .grid-g-50 {
    grid-gap: 20px;
  }
  .aside {
    left: 16px;
  }
}

@media only screen and (max-width: 790px) {
  .bell {
    padding-left: 60px;
  }
  .input.margin-100px-left {
    margin-left: 65px;
  }
  .main {
    left: 11px;
  }
  .aside {
    left: 16px;
  }
  .mu-list {
    left: 58px;
    width: 154%;
    flex-direction: column;
  }
  .height-200 {
    height: 103px;
  }
  .mu-list {
    left: 58px;
    width: 125%;
    flex-direction: column;
  }
}
@media only screen and (max-width: 780px) {
  .bell {
    padding-left: 70px;
  }
  .input.margin-100px-left {
    margin-left: 50px;
  }
  .main {
    left: 11px;
  }
  .aside {
    left: 16px;
  }
}
@media only screen and (max-width: 580px) {
  .bell {
    padding-left: 20px;
  }
  .input.margin-100px-left {
    margin-left: 10px;
  }
  /* .main{
            left: 10.55%;
        } */
  .logo svg {
    /* background-image: url(../image/logo/logo.svg); */
    /* background-image: url(/path/image.svg); */
    height: 33px;
    width: 39px;
  }
}
@media only screen and (max-width: 580px) {
  .input {
    width: 252px;
    padding-left: 15px;
  }

  .mu-list {
    left: 58px;
    width: 133%;
    flex-direction: column;
  }
  .l-r-but {
    /* display: none; */
  }
  .main {
    left: 9.55%;
  }
}

@media only screen and (max-width: 580px) {
  .input {
    width: 222px;
    padding-left: 15px;
  }

  .l-r-but {
    /* display: none; */
  }
  .main {
    left: 6.55%;
  }
}

@media only screen and (max-width: 580px) {
  .input {
    display: none;
  }
  .bell {
    padding-left: 250px;
  }

  .l-r-but {
    /* display: none; */
  }
  .main {
    /* display: none; */
  }
}
@media only screen and (max-width: 480px) {
  .bell {
    padding-left: 290px;
  }
  .dis-flex.grid-g-50.margin-10px-top {
    flex-direction: column;
  }
  .height-200 {
    height: 253px;
  }
  .head {
    background: #013d56;
    position: fixed;
    z-index: 15;
  }
  .header {
    position: fixed;
    z-index: 12;
  }
  .main {
    margin-top: 78px;
  }
  .aside {
    position: fixed;
    left: 12px;
  }
  .mu-list {
    left: 58px;
    width: 109%;
    flex-direction: column;
  }
  .foo {
    background: #013d56;
    width: 100%;
  }
}
@media only screen and (max-width: 430px) {
    .bell {
      padding-left: 240px;
    }
    .height-200 {
        height: 167px;
    }
  }
@media only screen and (max-width: 330px) {
  .bell {
    padding-left: 230px;

  }
  .mu-list {
    left: 58px;
    width: 91%;
    flex-direction: column;
}
}
@media only screen and (max-width: 380px) {
  .bell {
    padding-left: 150px;
  }
}
@media only screen and (max-width: 280px) {
  .bell {
    padding-left: 100px;
  }
}

::-webkit-scrollbar {
  width: 2px;
}
